{% extends 'basic_page.html' %}
{% load static %}

{% block content%}

    <!-- Feature Highlights Start -->
	<article class="feature_wrapper">
		<div class="feature_container">
			{% comment %} <h2 style="font-size: 40px; background-color: #0b3c5d; margin: 16px auto; padding: 13px;text-align: center;">Avialable Jobs</h2> {% endcomment %}
			<div class="feature-layout">		
				<a href="{% url 'users' %}">
					<img src="{% static 'images/profile.png' %}" width='150' height='140'>
					<div class="feature">
						<p>User Detail</p></br>
					</div>
				</a>			
                <a href="{% url 'search_contract_form' %}">
					<img src="{% static 'images/jobs.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Search Contracts</p></br>
					</div>
				</a>	
                <a href="{% url 'go_change_password' %}">
					<img src="{% static 'images/setting.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Change Password</p></br>
					</div>
				</a>	
			</div>
		</div>

	</article>
	<!-- Feature Highlight ends -->


{% endblock %}
