{% extends 'basic_page.html' %}
{%block active-home%}class="active"{%endblock%}
{% load static %}

{% block content%}

<!-- Page Header -->
<section class="page_heading">
		<h3 class="page-heading">CHANGE YOUR PASSWORD</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>

		
		<div class="con-1">
			<form id = "change_password_form" name="changePasswordForm" method='post' onsubmit="return false" enctype='multipart/form-data'>
				{% csrf_token %}
				<label>Current Password</label>
				<input type="password" name="current_password" class="form-field" placeholder="Current password"  id="current_password" required>
				<br/><br/>
				<label>New Password</label>
				<input type="password" id="new_password" name="new_password" minlength="8" class="form-field" placeholder="New Password" required>
				<br/>

				<label>Re-Password</label>
				<input type="password" id="re_password" name="re_password" minlength="8" class="form-field" placeholder="Re-Password" required>
				<br/>
				<br/>
		    	<button id="button_change_password" class="main_button">Change Password</button> <br/>
				<br/>
				<br/> <br/>

			</form>
		</div>
		<!-- Page Content Ends   -->
	</section>
	<script type="text/javascript" src="{% static 'js/change_password.js' %}"></script>


{% endblock %}