{% extends 'basic_page.html' %}
{%block active-home%}class="active"{%endblock%}
{% load static %}

{% block content%}

<!-- Page Header -->
<section class="page_heading">
		<h3 class="page-heading">FORGET PASSWORD</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>

		
		<div class="con-1">
			

			{% if token_form_mode == "on" %}        	
				<form id = "getToken" name="getToken" method='post' onsubmit="return false">
					{% csrf_token %}
					<label>Token</label>
					<input type="token" name="token" class="form-field" placeholder="Token" id="token" required>
					<br/>

					<br/>
					<button id="button_get_token" class="main_button">Send Token</button> <br/>
					<br/>
					<br/> <br/>

				</form>
			{% else %}
				<form id = "forgetForm" name="forgetForm" action="user_log_in" method='post' onsubmit="return false">
					{% csrf_token %}
					<label>Email</label>
					<input type="email" name="email" class="form-field" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" required>
					<br/>

					<br/>
					<button id="button_forget_password" class="main_button">Send Token</button> <br/>
					<br/>
					<br/> <br/>

				</form>
			{% endif %}
		</div>
		<!-- Page Content Ends   -->
	</section>
	<script type="text/javascript" src="{% static 'js/forget_password.js' %}"></script>


{% endblock %}
