{% extends 'basic_page.html' %}
{% load static %}

{% block content%}

    <!-- Feature Highlights Start -->
	<article class="feature_wrapper">
		<div class="feature_container">
			<div class="feature-layout">		
				<a href="{% url 'profile' %}">
					<img src="{% static 'images/profile.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Profile</p>
					</div>
				</a>	
                <a href="{% url 'job_applications' %}">
					<img src="{% static 'images/job_application.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Job Applications</p></br>
					</div>
				</a>
                <a href="{% url 'available_jobs' %}">
					<img src="{% static 'images/jobs.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Avaiable Jobs</p></br>
					</div>
				</a>
                <a href="{% url 'vacancy_add' %}">
					<img src="{% static 'images/plus.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Add Vacancy</p></br>
					</div>
				</a>	
				<a href="{% url 'go_change_password' %}">
					<img src="{% static 'images/setting.png' %}" width='150' height='140'>
					<div class="feature">
						<p>Change Password</p></br>
					</div>
				</a>
			</div>
		</div>

	</article>
	<!-- Feature Highlight ends -->


{% endblock %}
