{% extends 'basic_page.html' %}
{% load static %}

{% block content%}
    <!-- Feature Highlights Start -->
	<article class="feature_wrapper">
        <div style="text-align: center">
            <h2 style="font-size: 30px; background-color: rgb(26, 127, 194); margin: 4px auto; padding: 5px;">Job Applications</h2>
        <div>
		<div class="feature_container">
			<div class="feature-layout job-application">
                {% for i in data %} 		
                    <a href="{% url 'get_contract' id=i.id %}"><div class="feature">
                        <p>Hy {{ i.name }},</p></br>
                        <p>Subject: You get job offer from Mac Technology.</p></br>
                        <p>Position : {{ i.position }}</p></br>
                        <p>Salary : {{ i.salary }}</p></br>   
                        <p style="color:blue;"> << Click it! and go to contract >> </p></br>  
                    </div>
                    </a>	
                    
                {% endfor %}		
			</div>
		</div>

	</article>
	<!-- Feature Highlight ends -->

{% endblock %}
