{% extends 'basic_page.html' %}
{%block active-home%}class="active"{%endblock%}
{% load static %}

{% block content%}

<!-- Page Header -->
<section class="page_heading">
		<h3 class="page-heading">SEARCH CONTRACT</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>
		
		<div class="con-1">
			<form id = "forgetForm" name="forgetForm" action="http://127.0.0.1:8000/search/contract/detail/" method='POST'>
				{% csrf_token %}
				<label>Contract Id :</label>
				<input type="contract_id" name="contract_id" class="form-field" id="contract_id" value="{{ id }}" required>
				<br/>
                {% for error in messages %}
                    <label>{{ error }} the given id: {{ id }}</label><br>
                {% endfor %}
				<br/>
				<input class="main_button" type="submit" value="Search"/><br/>
				<br/>
				<br/> <br/>
			</form>
		</div>
	</section>
	<script type="text/javascript" src="{% static 'js/contract.js' %}"></script>


{% endblock %}
